<?xml version="1.0"?>
<configuration>
<location path="index.html">
<system.webServer>
<httpProtocol>
<customHeaders>
<add name="X-Frame-Options" value="Deny"/>
<add name="Content-Security-Policy" value="default-src 'self';"/>
<add name="X-Content-Type-Options" value="nosniff"/>
</customHeaders>
</httpProtocol>
<security>
<requestFiltering removeServerHeader="true"/>
</security>
</system.webServer>
<system.web>
<httpRuntime enableVersionHeader="false"/>
</system.web>
</configuration>
